/zips/
/json/
/junk/
/broken_json/
/json-small/
/articles/
/bad-articles/
/mediocre-articles/
/low-noise/
*~
*.pyc
*.[oadi]
*.so
.emacs*
/corpus/
/books/
/sample/
/images/
*.log
*.net
/results/
/noisy-results/
/concat-corpus/
